.wrap-gt1{
    font-size: 23px;
    color: #a81411;
    text-align: center;
    background: white;
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid;
}
.wrap-gt1 h1{
    font-size: 23px !important;
}
.wrap-gt1 blockquote{
    font-size: 16px;
    text-align: justify;
}
.mgb-8{
    margin-bottom: 8px;
}
@media (max-width: 767px){
    
}