.card-sp{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #9e9e9e;
    background-color: white;
}

.title-sp h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 54px;
    height: 58px;
    padding-bottom: 15px;
    position: relative;
    color: #c51b1b;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .title-sp h3:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #c51b1b;
  }
  .title-sp h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #c51b1b;
  }
  /* .contactz{
    list-style: none;
    list-style: none;
    text-align: center;
    padding-left: 0px;
  }
  .contactz li{
    display: inline-block;
    text-align: center;
    margin-left: 12px;
  } */
  .price{
    position: relative;
  }
  .price>div{
    font-size: 14px;
    font-weight: 500;
  }
  .insz{
    font-size: 18px;
    color: #4caf50;
    /* color: #d0021b; */
  }
  .insz>ins,.delz>ins{
    text-decoration: none;
  }
  .delz{
    font-size: 16px;
    color: #d0021b;
  }
  .reviewz{
    position: absolute;
    top: 4px;
    right: 5px;
  }
  .rvz{
    font-size: 12px;
    text-align: center;
  }
  .gtt{
    height: 26px;
  }
.short-des{
  color: #5f9025;
    background: #d9f1c2;
    border: 1px solid #7abf28;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px;
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    height: 80px;
    overflow: hidden;
    line-height: 23px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.desz{
  margin-top: 15px;
}
.mgb-20{
  margin-bottom: 20px;
}
.card-z1{
  margin-bottom: 18px;
}

@media (min-width:992px){
  .blz:hover .card-z1:not(:hover) .w-card{
    filter: blur(5px);
    opacity: 0.2;
  } 
  .blz:hover .card-z1:not(:hover) .card-sp{
    background-color: #cfcfcf;
  }
}