
.header-wrapper {
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    transition: background-color .3s, opacity .3s;
    background-color: rgba(255,255,255,0.9);
}
.colorz{
    background-color: #c51b1b;
}
.header-top{
    min-height: 40px;
}
.pd8{
    padding: 8px;
}
.zxs{
    margin: 0px !important;
    color: white;
    font-size: 13px;
    padding-top: 0px;
    font-weight: 500;
}
.zxs a{
    color: #ffeb3b;
    margin-left: 3px;
}
.cshv:hover{
    cursor: pointer;
}
.header-main{
    background-repeat: no-repeat;
    padding: 30px 0 16px;
    background-size: cover;
    height: 106px;
    position: relative;
}
.icon-menu{
    position: absolute;
    left: 27px;
    cursor: pointer;
}
.icon-cart{
    position: absolute;
    right: 11%;
    cursor: pointer;
    padding: 3px;
}
.icon-cart:hover,.icon-menu:hover>svg{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wrap-icon-cart{
    position: relative;
}
.nuvbe{
    position: absolute;
}
.wrap-icon-cart>span{
    color: #f4ebbf;
}

.logo{
    width: 189px;
    margin-left: 0;
    margin-right: 30px;
    line-height: 1;
    margin: auto;
}
.logo a {
    text-decoration: none;
    display: block;
    color: #446084;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}
.logo img {
    max-height: 106px;
    transition: max-height .5s;
    width: auto;
}
.tal-r{
    text-align: right;
}
.brs:hover{
    background: rgb(231 182 35) !important;
}
.header-bottom{
    border-top: 1px solid #f1c400;
}
.set-menu{
    position: fixed;
    top: 0px;
    width: 100vw;
    left: 0;
    z-index: 99;
    height: 100vh;
    display: flex;
}
.menu>ul{
    display: inline-block;
    width: 100%;
    height: 100vh;
    width: 255px;
    overflow-y: auto;
    /* background:#a81411; */
}
.menu ul{
    padding-left: 0px;
}
.menu>ul li{
    background:#a81411;
    list-style: none;
    position: relative;
}
.menu a{
    justify-content: flex-start;
    display: inline-flex;
    text-transform: uppercase;
    width: 100%;
    border-right: none;
    padding: 0 20px;
    min-height: 50px;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    max-width: 100%;
    color: #f4ebbf !important;
    font-weight: 500;
    cursor: pointer;
}
.menu>ul ul>li>a{
    padding-left: 45px;
}
.menu>ul ul>li{
    position: relative;
}
.menu>ul ul>li:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f4c35a;
    border-radius: 50%;
    top: 19px;
    left: 24px;
  }
.menu a:hover{
    background: #d80303;
    color: #fff !important;
}
.menu,.dimmer{
    display: inline-block;
}
.menu{
    background-color: white;
}
.dimmer{
    width: 100%;
    background: #302f2cb0;

}
.dimmer>span{
    position: absolute;
    top: -3px;
    font-size: 42px;
    color: #dbdbdb;
    right: 32px;
}
.menu-mb{
    display: none;
}
.menu>ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.menu>ul::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.menu>ul::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}
body {
    scrollbar-width: auto;
    scrollbar-color:  #a2a1a0 #f5f5f5;
}
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color:  #a2a1a0;
    border-radius: 2px;
    border: 0px solid #ffffff;
}

.newz{
    display: inline-block;
    animation: hithere 1s ease infinite;
}
@keyframes hithere {
    30% {
        transform: scale(1.2)
    }
    40%, 60% {
        transform: rotate(-20deg) scale(1.2)
    }
    50% {
        transform: rotate(20deg) scale(1.2)
    }
    70% {
        transform: rotate(0deg) scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}
.header-main {
    margin-bottom: 55px;
}

@media (min-width: 992px){
    .header-main {
        margin-bottom: 0px;
    }
    .icon-menu{
        display: none;
    }
    .logo{
        margin: unset;
    }
    .dimmer{display: none;}
    .set-menu{
        position: relative;
        width: 100%;
        height: auto;
    }
    .menu>ul{
        min-height: 50px;
        height: auto;
        width: 100%;
        overflow: initial;
        display: inline-flex;
        margin: 0px;
    }
    .menu>ul>li>ul{
        position: absolute;
        width: 20vw;
        transition: opacity .25s;
        box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
        display: none;
    }
    .menu>ul>li{
        background: none;
    }
    .menu>ul>li:hover,.menu>ul>li>a:hover{
        background: #a81411;
    }
    .menu>ul>li:hover>ul{
        display: block;
    }
    .menu-mb{
        display: block;
    }
    .menu{
        background-color: transparent;
    }
}
@media (max-width: 991px){
    .hd992{
        display: none;
    }
    .zxs{
        text-align: center;
    }
    .gh{
       display: none;
    }
    .icon-cart svg{
        fill: rgb(249 211 211) !important;
    }
    .nuvbe{
        left: 31px;
        top: -9px;
    }
    .setz{
        max-width: 100% !important;
    }
    .brz{
        margin-bottom: 28px;
    }
    .seah{
        padding: 8px;
        background-color: #c51b1b;
    }
}
@media (max-width: 549px){
    .header-main {
        height: 70px;
        padding: 12px 0 16px;
    }
    .icon-cart{
        right: 7%;
    }
    .brz{
        margin-bottom: 10px;
    }
}

